<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 300px;">
        <h1>Search Products</h1>
        <form method="GET" action="/northwind/searchproducts">
            <div class="col-md-11">
                <input type="text" class="input input-lg" name="searchTerm" style="width: 100%;" placeholder="Search Products"/>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>