<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="http://www.google.com">Go to google</a>
    <form method="POST" action="/food/add">
        <input type="text" class="form-group" name="name"/>
        <input type="text" class="form-group" name="address"/>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>